
<div class="col-md-6 col-sm-6 col-xs-12">
            <label>Column</label>
            <select class="form-control input-sm" ng-model="dateFormat" ng-options="date for date in dateFormat"></select>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>From</label>
            <input type="text" class="form-control input-sm" ng-model="fromDate">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <label>To</label>
            <input type="text" class="form-control input-sm" ng-model="toDate">
        </div>
        <p class="clearfix"></p>
